
body{
  background: #eee;
}

/* 因为Block整体的宽度被设置成了960，如果不设置margin左右的宽度
那么这个block的位置就偏左，所以这里使用margin 的auto功能，这个block就自动居中了 */
.wrapper{
  background: #fff;
  max-width: 960px;
  padding: 20px;
  margin: 15px auto;
}

/* after这里用来填补wrapper剩余的空间，不然wrapper会只显示上半部分 */
.wrapper:after{
    content: "";
    display: block;
    clear: both;
}

.colorwrapper{
  background: #fff;
  max-width: 320px;
  padding: 20px;
  margin: 15px auto;
}

/* after这里用来填补wrapper剩余的空间，不然wrapper会只显示上半部分 */
.colorwrapper:after{
    content: "";
    display: block;
    clear: both;
}

img{
  float: left;
  margin: 10px;
}

.blue{
  background: blue;
  margin-left: 165px;
  float: left;
}

.red{
  background: red;
  margin-left: 165px;
  float: left;
}

.green{
  background: green;
  margin-left: 165px;
  float: left;

}

.box{
  float: left;
  width:29%;
  height: 92.8px;
  margin: 2%;
}

.service h2, .service p{
    color: #999;
    margin: 10px 0;
    text-align: center;
}

.service{
  float: left;
  background: #eee;
  width:29%;
  margin: 1%;
  padding: 1%;
}
